/* Table.css */
.table-container {
    position: relative;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    margin-bottom: 0;
    background-color: #fff;
    border-collapse: collapse;
    transition: background-color 0.3s;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: center;
    cursor: pointer;
  }
  
  .table th {
    background-color: #1976D2;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .table tr:hover {
    background-color: #E3F2FD;
  }
  
  .user-row.selected {
    background-color: #A5D6A7;
  }
  
  